body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(6,62,110,1) 10%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    margin: 0;
    font-family: "Poppins" , sans-serif ;
}

#form {
    width: 400px;
    background-color: whitesmoke;
    margin: 10vh auto 0 auto;
    padding: 15px;
    border: whitesmoke 1px solid;
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #063e6e;
}
button {
    width: 100%;
    background-color:#063e6e;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input {
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding:10px;
    border:solid 1px rgb(27, 251, 251);
}
.input-group input:focus {
    outline: 0;
}


/* error */
.input-group .error {
    color: red;
    font-size: 16px;
}
/* .input-group .error input */
.input-group .error input {
    border-color: red;
}
.input-group .success input {
    border-color: green;
}